@import '@fontsource-variable/figtree' layer(base);
@import '@fontsource-variable/figtree/wght-italic.css' layer(base);

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: 'Figtree Variable', sans-serif;
    --color-primary: #0293b5;
    --shadow-avatar: 0 0 1px 11px --alpha(var(--color-primary) / 15%), 0 0 1px 22px --alpha(var(--color-primary) / 10%);
    --shadow-button: 0 0 1px 6px --alpha(var(--color-primary) / 17.5%);
}

@layer utilities {
    .prose a {
        @apply text-primary underline decoration-1 underline-offset-2 hover:no-underline;
    }

    /* 行内代码样式 */
    .prose code:not(pre code) {
        @apply px-1.5 py-0.5 bg-gray-100 rounded font-mono;
    }

    /* 覆盖默认的反引号显示 */
    .prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before,
    .prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
        content: none;
    }
}
